:root {
    --red: rgb(223, 52, 15);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 10px;
    height: 100vh;
}

body {
    font-family: 'Baloo Tamma 2', cursive;
    background: url("../images/bg.jpeg") no-repeat;
    background-size: cover;
    background-position: center 0;
}

#content {
    height: 100vh;
    padding: 4rem;
    color: #fff;
}


#header {
    user-select: none;
    display: flex;
}

#about, #menu{
    cursor: pointer;
    transition: ease .25s;
    font-size: 2.5rem;
}

#logo {
    width: 100%;
    height: 100%;
}

#logo-div {
    cursor: pointer;
    width: 10rem;
    height: 10rem;
    padding: 2rem;
    border-radius: 50%;
    background-color: var(--red);
}

#nav {
    margin-left: 5rem;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

#about:hover, #menu:hover {
    color: var(--red);
    transition: ease-in .25s;
}

#about, #menu {
    font-weight: 700;
    margin: 0 3rem;
}

#welcome, #menuDiv, #aboutDiv {
    width: 100rem;
    margin: 8rem 0;
}

#welcome, #h1 {
    text-align: center;
}

#welcome-msg {
    font-size: 9rem;
    letter-spacing: .4rem;
    text-transform: uppercase;
}

#welcome-desc {
    font-size: 3rem;
    letter-spacing: .1rem;
    font-weight: 700;
}

#menuDiv {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

#h1 {
    font-size: 5rem;
}

hr {
    border: .2rem solid var(--red);
    width: 80%;
    margin: .8rem auto;
}

#item-name, #item-desc, #msg, #warning {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-weight: 700;
    letter-spacing: .1rem;
}

#item-name {
    font-size: 3rem;
}

#msg, #item-desc, #warning {
    font-size: 1.5rem;
}